<section class="home">
  <div class="home__media">
    <img src="assets/Me.JPG" alt="Profile photo" />
  </div>
  <div class="home__content">
    <h2>Hello, I’m Benomar El Mdeghri</h2>
    <p>
      I’m a software engineer student, focused on efficiency and optimization. I consider myself to be highly compeitive, and loves to be challenged!
    </p>
    <p>
      This site hosts the timeline of my main activities, have fun discouvering it!
    </p>
    <div class="home__actions">
      <a routerLink="/timeline" class="btn">View Timeline</a>
      <!--<a routerLink="/projects" class="btn btn--alt">View Projects</a>-->
    </div>
  </div>
</section>
